@charset "UTF-8";

//setting

@import "setting/common";
@import "setting/reset";
@import "setting/vars";
@import "setting/mixin";

//section

@import "section/layout";
@import "section/header";
@import "section/room";
@import "section/swiper";
@import "section/footerRecomm";
@import "section/footerInfo";