.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.header__logo{
    width: 130px;
    height: 57px;
    background: url(../../img/icon/airbnb-logo.svg) no-repeat center;
    
    a{
        display: block;
        width: 100%;
        height: 100%;
    }
}

.header__menu{
    width: 195px;
    height: 80px;
    display: flex;
    align-items: start;

    .text{
        padding-top: 21px;
        font-size: 12px;
        letter-spacing: -0.08em;
        font-weight: 900;
        margin-right: 12px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }

    .icon{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #EBEBEB;
        border-radius: 50%;
        margin: 10px 0 0 10px;
        padding: 10px;
        cursor: pointer;

        .lang__icon{
            width: 20px;
            height: 20px;
            background: url(../../img/icon/language-logo.svg);
        }

        .menu__icon{
            width: 20px;
            height: 20px;
            background: url(../../img/icon/menu-logo.svg);
        }
    }
}


 
 
.nav__inner{
    padding-left: 60px;
        
    .nav__link{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 60px;
            height: 60px;
        }

        span{
            display: inline-block;
            height: 60px;
            width: 40px;
            line-height: 60px;
            font-size: 12px;
        }

        li{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                left: 50%;
                translate: -50%;
                bottom: 0;
                width: 0%;
                height: 3px;
                background-color: black;
                transition: width 0.3s;
            }
            
            &:hover::after,
            &.active::after{
                width: 100%;
            }

            &.active span{
                font-weight: 1000;
            }
        }
    }
}


.search__inner{
    padding-left: 60px;
    width: 850px;
    height: 70px;

    .search__container{
        margin-top: 20px;
        background-color: #ffffff;
        box-shadow: 1px 1px 10px 1px rgb(185, 185, 185);
        border-radius: 9999px;
        width: 100%;
        height: 100%;
        transition: background-color 0.3s;

        &:has(ul>li>input:focus){
            background-color: rgb(244, 244, 244);
        }

        ul{
            display: flex;
            width: 100%;
            height: 100%;

            li{
                flex: 1;
                border-radius: 9999px;
                height: 100%;
                position: relative;
                padding-left: 30px;
                transition: background-color 0.3s;

                &:hover{
                    background-color: rgb(228, 228, 228);
                }

                &:has(input:focus){
                    background-color: #ffffff;
                }

                input{
                    height: 50%;
                    background-color: #ffffff00;
                    outline: none;
                    position: absolute;
                    bottom: 5px;
                }

                span{
                    display: block;
                    font-size: 12px;
                    position: absolute;
                    top: 12px;
                }
            }
        }
    }
}