#header{
    background-color: #fafafa;
    border-bottom: 2px solid rgba(128, 128, 128, 0.075);
    height: 200px;
    width: 100vw;
}

#main{
    width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
}

#footer{
    background-color: #F7F7F7;
    width: 100vw;
}