h2{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.1em;
    margin: 20px 0;
}

.room__inner{
    display: flex;
    margin-bottom: 30px;


    .room__photo{
        width: 170px;
        height: 170px;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
        }

        .heart{
            position: absolute;
            top: 15px;
            right: 15px;
            color: rgba(0, 0, 0, 0.466);
            stroke: white;
            stroke-width: 2px;
        }

        .heart.like {
            color: #ff385c;
        }
    }

    .room__text{
        color: #373737;
        font-size: 10px;
        letter-spacing: -0.05em;
        margin-top: 5px;
        padding-left: 5px;

        .room__title{
            font-size: 12px;
            font-weight: bold;
            white-space: pre-wrap;   /* 공백 기준으로만 줄바꿈 */
             word-break: keep-all; 
        }

        .room__rating::before{
            content: "";
            display: inline-block;
            width: 2px;
            height: 2px;
            margin: 0 2px 3px 5px;
            background-color: rgb(172, 172, 172);
        }
    }
}

