
.room__container{
    position: relative;

    .buttonBox{
        position: absolute;
        top: 30px;
        right: 30px;

        div{
            cursor: pointer;
            padding: 5px;
            width: 25px;
            height: 25px;
            border-radius: 9999px;
            background-color: #eee;

            &.swiper-button-next{
                position: absolute;
                left: 0;
            }

            &.swiper-button-prev{
                position: absolute;
                left: -30px;
            }
        }
    }
}
