body{
    overflow-x: hidden;
}

.isLoading{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s ease;
}

.isLoaded{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s ease;
}
